<ion-view >
<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
        </button>
      </ion-nav-buttons>
  <ion-content >
    <div class="list" ng-repeat="feed in data"  >
        <div ion-affix data-affix-within-parent-with-class="list" class='item item-avatar-left '>
            <img src="{{feed.post_avatar}}" alt="">
            <h2>{{feed.post_first_name}} {{feed.post_last_name}}</h2>
            <p><small am-time-ago="feed.posted_on"></small></p>
        </div>
        <div class='item'>
            <h2 >{{feed.description}}</h2>  
            <img  class="full-image"  src="{{feed.post}}"/>
        </div>
        <div class='item'>
            <p>
                <a class="subdued" on-tap = 'loveIt($index)'  >
                    <font size="5">{{feed.love}}</font>
                    <i class='ion-ios-heart-outline'></i>
                </a>
                <a class="subdued" on-tap = 'commentIt(feed.id,$index)'>
                    <font size="5">{{feed.total_comment}}</font>
                    <i class='ion-ios-chatbubble-outline' ></i>
                </a>
                <a class="subdued">
                    <i class='ion-android-share-alt'></i>
                </a>
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>
