<ion-tabs class="tabs-striped tabs-color-positive">
  <ion-tab icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" ui-sref='tab.feeds'>
    <ion-nav-view name="tab-feeds"></ion-nav-view>
  </ion-tab>
  <ion-tab  icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref='tab.trend'>
    <ion-nav-view name="tab-trend"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-android-contact" icon-on="ion-android-contact"ui-sref='tab.hof' >
    <ion-nav-view name="tab-hof"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref='tab.user' >
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>
</ion-tabs>
